html {
  background-image: url(./free-video-3045163.jpg);
  min-height: 100%;
}
body {
  background-image: url('./160198873_787621978836799_3421518127871662361_n.png');
  background-color: rgba(20, 2, 85, 0.78);
  background-size: 100% 100%;
  background-repeat: no-repeat
  

  body {
    margin: 0px;
    padding: 0px;
   }
   
   #footer {
    background-color: #000000;
    color: #000000;
    height: 40px;
    margin: 0px;
    padding: 0px;
    width: 100%;
   }
   
   #inner {
    margin: 0px 0px 0px -500px;
    padding: 0px;
    position: relative;
     left: 50%;
     top: 0px;
    width: 1000px;
   }
   
 
  
}
.semiBG {
  background: rgba(18, 2, 90, 0.5);
  border-radius: 5px;
}
.headingFont {
  font-family: 'Muli';
}
.bodyFont {
  font-family: 'Lato';
}
.watchNow {
  font-size: 1.5rem;
  color: rgb(218, 48, 18);
}
a {
  color: rgb(230, 61, 19);
  text-decoration: none;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}
a:hover {
  text-decoration: none;
  color: #eb650c;
}
a.watchNow:hover {
  color: #eb520b;
}
.border-black {
  border-color: rgb(0, 0, 0) !important;
}
